* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(34, 29, 29);
}

html{
  scroll-behavior: smooth;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover{
  filter: brightness(90%);
}

/* navbar */

.navbar {
  position: fixed;
  width: 100%;
  /* padding: 30px 0; */
  background-color: crimson;
}
nav {
  /* width: 100%; */
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
h5{
  display: flex;
  justify-content: end;
  font-size: 40px;
  color: white;
  margin-left: 40px;
  font-family: "Roboto Slab", serif;
}
nav ul {
  display: flex;
  list-style: none;
  padding-top: 15px;
  margin-right: 50px;
}
nav ul li {
  margin-left: 70px;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  font-size: 20px;
}
nav ul li a:first-child {
  color: black;
}
nav ul li a:before {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  top: 110%;
  height: 2px;
  border-bottom: 2px solid black;
  transition: all 0.2s linear;
  transition: color 0.3s easy;
}
nav ul li a:hover {
  color: rgb(34, 180, 180);
}
nav ul li a:hover::before {
  width: 100%;
}
.menu-btn {
  color: black;
  font-size: 30px;
  line-height: 20px;
  /* float: right; */
  flex-direction: column;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* responsive media query */

@media (max-width: 1048px) {
  label.logo {
    font-size: 32px;
    padding-left: 40px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav a {
    font-size: 17px;
  }
}
@media (max-width: 991px) { 
  .menu-btn {
    display: block;
    margin-top: 10px;
    z-index: 999;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    top: 0;
    left: -100%;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s easy;
  }
  nav ul.acitive{
      left: 0;
  }
  nav li {
    display: inline-flex;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    display: inline-block;
    margin: 20px 0;
  }
  nav ul.show {
    left: 0;
  }
  .form {
    margin-left: 20px;
    margin-right: 20px;
  }
  .img1{
    width: 200px;
    height: 200px;
  }
}

/* home section */

.Home {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.5);
  height: 800px;
  justify-content: center;
  z-index: -1;
}
/* image */
#img {
  content: "";
  position: absolute;
  top: 85px;
  right: 0;
  width: 500px;
  padding-right: 40px;
  /* background-image: url("pooja.JPG"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 580px;
  opacity: 0.3;
}
/* content */
.Home h1 {
  color: white;
  font-size: 60px;
  margin-left: 200px;
  margin-top: 10px;
  font-family: "Times New Roman";
}
.Home h2 {
  color: white;
  font-size: 30px;
  margin-left: 200px;
  margin-top: 180px;
}
/*  button  */
.btn {
  color: black;
  width: 150px;
  border-radius: 30px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 200px;
  padding: 10px;
  background-color: rgb(255, 52, 52);
  box-shadow: 0px 0px 10px rgb(236, 164, 164);
}
.btn.active,.btn:hover {
  color: white;
}
@media (max-width: 890px) {
    .Home h1{
        font-size: 60px;
        margin-left: 80px;
    }
    .Home h2{
        font-size: 40px;
        margin-left: 80px;
    }
    .Home .btn{
      font-size: 30px;
      margin-left: 80px;
    }
    .Home #img{
         display: none;
    }
}

/* about section*/

.About {
  display: flex;
  flex-direction: column;
  background-color: rgb(0,0,0,0.5);
  height: 1700px;
  justify-content: center;
  margin-top: 40px;
}
h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  /* margin-right: 300px; */
  font-size: 50px;
  color: violet;
  padding-bottom: 10px;
}
p {
  color: white;
  margin-left: 30px;
  margin-right: 20px;
  font-size: 30px;
}
#para1{
  font-size: 50px;
  color: brown;
}
#para2{
  font-size: 38px;
  color: deeppink;
}
.skills {
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 10px 0;
}
.s {
  color: cyan;
}
.img1{
  padding-left: 70px;
  padding-top: 30px;
}
@media (max-width: 890px) {
  p{
    font-size: 20px;
  }
}

/* contact me */

.contactdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-color: black;
}
.Contact {
  display: flex;
  flex-direction: column;
  height: 900px;
  justify-content: center;
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  box-shadow: 0 0 20px 0 rgb(252, 102, 132);
  padding: 40px;
  border-radius: 20px;
}
.form input {
  margin: 0 auto;
  height: 30px;
  width: 250px;
  border-radius: 10px;
  padding-left: 20px;
  font-family: "Times New Roman";
}
.form textarea {
  margin: 0 auto;
  border-radius: 10px;
  width: 250px;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 15px;
  font-family: "Times New Roman";
}
.btn1 {
  border: 20px;
  font-size: 25px;
  background-color: rgb(252, 102, 132);
  width: 100px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 1px rgb(255, 52, 52);
  font-family: "Times New Roman";
}
h4 {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
}
.icons {
  text-align: center;
}
.icons a {
  color: rgb(219, 58, 90);
  font-size: 40px;
  padding: 20px;
}
/* footer section styling */
footer{
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
